@keyframes fadein-fadeout {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loader-fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes site-loader {
  0%, 5% {
    left: -32px;
    width: 16px;
  }
  15%, 20% {
    left: -32px;
    width: 48px;
  }
  30%, 35% {
    left: 0px;
    width: 16px;
  }
  45%, 50% {
    left: 0px;
    width: 48px;
  }
  60%, 65% {
    left: 32px;
    width: 16px;
  }
  75%, 80% {
    left: 32px;
    width: 48px;
  }
  95%, 100% {
    left: 64px;
    width: 16px;
  }
}
@keyframes menu-slide {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotate-360 {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader_fadein_fadeout {
  animation-name: fadein-fadeout;
  animation-duration: 3000ms;
  animation-iteration-count: 1;
  animation-delay: 0s;
  animation-timing-function: cubic-bezier(1, -0.25, 0.93, 0.59);
}

.loader {
  width: 16px;
  height: 16px;
  position: absolute;
  margin: auto auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  color: #9356DC;
  background: currentColor;
  box-shadow: 32px 0, -32px 0, 64px 0;
}

.loader::after {
  content: "";
  position: absolute;
  left: -32px;
  top: 0;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  background: #FF79DA;
  animation: site-loader 3s linear infinite alternate;
}

.loader-container {
  animation-name: loader-fadeout;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-delay: 3s;
  animation-timing-function: cubic-bezier(1, -0.25, 0.93, 0.59);
}

body {
  font-family: "Roboto", sans-serif;
}

.header__logo {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  color: #000;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
}
.header__logo {
  padding: 10px 20px;
  width: 100%;
  box-shadow: 0 0.2rem 0.6rem #ccc;
  position: relative;
}
.header__location {
  background-color: #EAEAEA;
  padding: 14px 20px;
  width: 100%;
}
.header__location span {
  font-weight: 500;
}
.header__location i {
  margin-right: 15px;
}
.header__infos {
  width: 100%;
  padding: 35px 20px;
  background-color: #F7F7F7;
}
.header__infos__title h1 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 10px;
  padding-right: 2rem;
  padding-left: 2rem;
}
.header__infos__subtitle p {
  color: #777777;
}
.header__infos__subtitle {
  margin-bottom: 30px;
}
.header__infos__button {
  display: table;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 30px;
  color: white;
  font-weight: 400;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(358deg, #9356DC, #FF79DA 95%);
}
.header__infos__button:hover {
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
  box-shadow: 2px 2px 1px #ccc;
}

.ordering {
  padding: 1.5rem;
}
.ordering__steps ul {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  gap: 2rem;
  padding: 0 0 0 0.6rem;
}
.ordering__steps ul li {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F7F7F7;
  border-radius: 1.2rem;
  font-weight: 500;
  cursor: pointer;
  box-shadow: 0 0.2rem 0.6rem #ccc;
  padding: 1.5rem;
}
.ordering__steps ul li i {
  color: #777;
  font-size: 1.6rem;
  margin-right: 1.5rem;
}
.ordering__steps ul li::before {
  content: " ";
  background: #9356dc;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  left: -0.75rem;
}
.ordering__steps ul li:hover {
  background-color: #f2eafb;
}
.ordering__steps ul li:hover i {
  color: #9356DC;
}

.ordering__steps__step {
  color: #fff;
  position: absolute;
  left: -5px;
}

.restaurants {
  background-color: #F7F7F7;
  padding: 1.5rem;
}
.restaurants__list {
  display: flex;
  flex-direction: column;
  padding-bottom: 3rem;
  gap: 2rem;
}

.restaurant {
  position: relative;
  background-color: #fff;
  box-shadow: 0 0.2rem 0.6rem #ccc;
  border-radius: 1rem;
  height: 16rem;
}
.restaurant a img {
  width: 100%;
  height: 11rem;
  object-fit: cover;
  border-radius: 1rem 1rem 0 0;
}
.restaurant a span {
  position: absolute;
  display: grid;
  place-items: center;
  background-color: #99E2D0;
  height: 1.8rem;
  width: 4.5rem;
  color: #299077;
  right: 1rem;
  top: 1rem;
  border-radius: 0.13rem;
  font-size: 0.8rem;
  font-weight: 500;
}
.restaurant__infos {
  margin-left: 1.3rem;
  margin-top: 0.8rem;
}
.restaurant__infos h3 {
  font-size: 1.2rem;
  font-weight: 800;
}
.restaurant__infos p {
  font-weight: 400;
  margin-top: 0.4rem;
}
.restaurant__like i {
  position: absolute;
  font-size: 2rem;
  right: 2rem;
  bottom: 2rem;
  cursor: pointer;
}
.restaurant__like i.heart-fill {
  color: transparent;
  transform: scale(0.7);
  transition: transform 500ms ease-in-out;
  padding: 0px;
}
.restaurant__like i.heart-fill:hover {
  background: #9356DC;
  background: linear-gradient(90deg, #9356DC 0%, #FF79DA 80%);
  background: -webkit-linear-gradient(90deg, #9356DC 0%, #FF79DA 80%);
  background: -moz-linear-gradient(90deg, #9356DC 0%, #FF79DA 80%);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  transform: scale(1);
}
.restaurant:hover {
  box-shadow: 0 0.2rem 0.6rem #b3b3b3;
}

.fa-arrow-left {
  position: absolute;
  left: 1.3rem;
  top: 1rem;
  color: #000;
  font-size: 2rem;
}

img.header__restaurant__image {
  display: block;
  position: relative;
  width: 100%;
  height: 17.5rem;
  object-fit: cover;
}

.restaurant__infos__title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  margin-top: -3rem;
  background: #F7F7F7;
  border-radius: 2rem 2rem 0 0;
  padding-top: 1.5rem;
}
.restaurant__infos__title h2 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
}

.restaurant__infos__menu .menu {
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #F7F7F7;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}
.restaurant__infos__menu .menu h3 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.restaurant__infos__menu .menu h3::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99e2d0;
  position: absolute;
  left: 0;
  bottom: -0.5rem;
}
.restaurant__infos__menu .menu ul li {
  display: flex;
  box-shadow: 0 0.2rem 0.6rem #ccc;
  border-radius: 1rem;
  background-color: #FFF;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1.3rem;
  cursor: pointer;
  animation: menu-slide 2000ms backwards;
}
.restaurant__infos__menu .menu ul li:nth-child(1) {
  animation-delay: 200ms;
}
.restaurant__infos__menu .menu ul li:nth-child(2) {
  animation-delay: 400ms;
}
.restaurant__infos__menu .menu ul li:nth-child(3) {
  animation-delay: 600ms;
}
.restaurant__infos__menu .menu ul li:nth-child(4) {
  animation-delay: 800ms;
}
.restaurant__infos__menu .menu ul li:hover .menu__choice {
  margin-right: 0;
}
.restaurant__infos__menu .menu ul li:hover .menu__choice i {
  -webkit-animation: rotate-360 0.5s both;
  animation: rotate-360 0.5s both;
}
.restaurant__infos__menu .menu__details {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__infos__menu .menu__details h4 {
  font-weight: 600;
  margin: 0;
  padding-top: 0.6rem;
  padding-bottom: 0.3rem;
  padding-left: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__infos__menu .menu__details p {
  margin: 0;
  font-size: 0.9rem;
  font-weight: 400;
  padding-bottom: 0.6rem;
  padding-left: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.restaurant__infos__menu .menu span {
  font-weight: 800;
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  margin-right: 1rem;
  padding-bottom: 0.9rem;
}
.restaurant__infos__menu .menu__choice {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.75rem;
  height: auto;
  margin-right: -3.75rem;
  padding: 0rem;
  border-radius: 0 0.9rem 0.9rem 0;
  color: #99E2D0;
  background-color: #99E2D0;
  transition: margin-right 0.5s;
}
.restaurant__infos__menu .menu__choice i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  border-radius: 50%;
  background-color: #F7F7F7;
  aspect-ratio: 1/1;
}

.order {
  padding: 2.1rem;
  background-color: #F7F7F7;
}
.order__button {
  display: table;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 30px;
  color: white;
  font-weight: 400;
  z-index: 1;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(358deg, #9356DC, #FF79DA 95%);
}
.order__button:hover {
  background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
  box-shadow: 2px 2px 1px #ccc;
}

.footer {
  color: #FFF;
}
.footer__infos {
  display: flex;
  flex-direction: column;
  background-color: #383838;
  padding: 1.3rem;
}
.footer h3 {
  font-family: "Shrikhand", cursive;
  margin-bottom: 0.6rem;
  font-size: 1.3rem;
}
.footer ul {
  padding-top: 0.3rem;
}
.footer ul li {
  margin-bottom: 0.4rem;
}
.footer ul li a {
  color: #FFF;
}
.footer ul li a i {
  padding-right: 0.9rem;
}
.footer ul li a i.fa-hands-helping {
  padding-right: 0.5rem;
}

@media screen and (min-width: 768px) {
  .contents {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
  }
  .restaurants h2 {
    margin-left: 45px;
  }
  .ordering__steps ul {
    flex-direction: row;
    justify-content: space-between;
  }
  .restaurants__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
  }
  .restaurants__list .restaurant {
    width: 43%;
  }
  .restaurant__infos__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #F7F7F7;
  }
  .restaurant__infos__title {
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .restaurant__infos__menu .menu {
    flex-basis: 50%;
  }
  .footer ul {
    display: flex;
    justify-content: space-between;
  }
}

/*# sourceMappingURL=style.css.map */
