.footer {
    color: #FFF;
    &__infos {
        display: flex;
        flex-direction: column;
        background-color: #383838;
        padding: 1.3rem;
    }
    & h3 {
        @include logo-font;
        margin-bottom: 0.6rem;
        font-size: 1.3rem;
    }
    & ul {
        padding-top: 0.3rem;
        li {
            margin-bottom: 0.4rem;
            a {
                color: #FFF;
                i {
                    padding-right: 0.9rem;
                }
                i.fa-hands-helping {
                    padding-right: 0.5rem;
                }
            }
        }
    }
}