.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;

    &__logo {
        padding: 10px 20px;
        width: 100%;
        @include site-box-shadow;
        position: relative;
    }
    &__location {
        background-color: #EAEAEA;
        padding: 14px 20px;
        width: 100%;
        span {
            font-weight: 500;
        }
    }
    &__location i {
        margin-right: 15px;
    }
    &__infos {
        width: 100%;
        padding: 35px 20px;
        background-color: $main-background-color;
        &__title h1{
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: 10px;
        }
        &__subtitle p {
            color: #777777;
        }
        &__subtitle {
            margin-bottom: 30px;
        }
        &__button {
            @include main-button;
        }
    }
}