.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;

    &__logo {
        padding: 10px 20px;
        width: 100%;
        @include site-box-shadow;
        position: relative;
    }
    &__location {
        background-color: #EAEAEA;
        padding: 14px 20px;
        width: 100%;
        span {
            font-weight: 500;
        }
    }
    &__location i {
        margin-right: 15px;
    }
    &__infos {
        width: 100%;
        padding: 35px 20px;
        background-color: $main-background-color;
        &__title h1{
            font-size: 1.5rem;
            font-weight: 900;
            margin-bottom: 10px;
            padding-right: 2rem;
            padding-left: 2rem;
        }
        &__subtitle p {
            color: #777777;
        }
        &__subtitle {
            margin-bottom: 30px;
        }
        &__button {
            @include main-button;
        }
        &__button:hover {
            background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
            box-shadow: 2px 2px 1px #ccc;
        }
    }
}