.ordering {
    padding: 1.5rem;
    &__steps ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        gap: 2rem;
        padding: 0 0 0 0.6rem;
    }
    &__steps ul li {
        position: relative;
        display: flex;
        align-items: center;
        background-color: $main-background-color;
        border-radius: 1.2rem;
        @include site-box-shadow;
        padding: 1.5rem;
        & i {
            color: #777;
            font-size: 1.6rem;
            margin-right: 1.5rem;
        }
    }
    &__steps ul li::before {
        content:  " ";
        background: #9356dc;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        position: absolute;
        left: -.75rem;
    }
    &__steps ul li:hover {
        background-color: $ordering-steps-hover-color;
    }
    
}
.ordering__steps__step {
    color: #fff;
    position: absolute;
    left: -5px;
}