.ordering {
    padding: 1.5rem;
    &__steps ul {
        display: flex;
        flex-direction: column;
        margin-bottom: 3rem;
        gap: 2rem;
        padding: 0 0 0 0.6rem;
    }
    &__steps ul li {
        position: relative;
        display: flex;
        align-items: center;
        background-color: $main-background-color;
        border-radius: 1.2rem;
        @include site-box-shadow;
        padding: 1.5rem;
        & i {
            color: #777;
            font-size: 1.6rem;
            margin-right: 1.5rem;
        }
    }
}