@media screen and (min-width: 768px) {
    .contents {
        margin-left: auto;
        margin-right: auto;
        max-width: 1280px;
    }
    .restaurants h2 {
        margin-left: 45px;
    }
    .ordering__steps ul {
        flex-direction: row;
        justify-content: space-between;
    }
    .restaurants__list {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        width: 100%;
        .restaurant {
            width: 43%;
        }
    }
    .restaurant__infos__menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        background-color: #F7F7F7;
    }
    .restaurant__infos__title {
        justify-content: space-between;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .restaurant__infos__menu .menu {
        flex-basis: 50%;
    }
    .footer ul {
        display: flex;
        justify-content: space-between;
    }
}
@media screen and (min-width: 993px) {
    .restaurant__infos__menu .menu {
        flex-basis: 33.33%;
    }
    .restaurant__infos__menu .menu ul li {
        max-width: 280px;
    }
}