.loader_fadein_fadeout {
    animation-name: fadein-fadeout;
    animation-duration: 3000ms;
    animation-iteration-count: 1;
    animation-delay: 0s;
    animation-timing-function: cubic-bezier(1, -0.25, 0.93, 0.59);
}

.loader {
    width: 16px;
    height: 16px;
    position: absolute;
    margin: auto auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    color: $color-primary;
    background: currentColor;
    box-shadow: 32px 0 , -32px 0 ,  64px 0;
  }
  
  .loader::after {
    content: '';
    position: absolute;
    left: -32px;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: $color-secondary;
    animation: site-loader 3s linear infinite alternate;
  }
  .loader-container {
    animation-name: loader-fadeout;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-delay: 3s;
    animation-timing-function: cubic-bezier(1, -0.25, 0.93, 0.59);
  }
  