.restaurants {
    background-color: $main-background-color;
    padding: 1.3rem;
    &__list {
        display: flex;
        flex-direction: column;
        padding-bottom: 3rem;
        gap: 2rem;
    }
}
.restaurant {
    position: relative;
    background-color: #fff;
    @include site-box-shadow;
    border-radius: 1rem;
    height: 16rem;
    & a img {
        width: 100%;
        height: 11rem;
        object-fit: cover;
        border-radius: 1rem 1rem 0 0;
    }
    & a span {
        position: absolute;
        display: grid;
        place-items: center;
        background-color: #99E2D0;
        height: 1.8rem;
        width: 4.5rem;
        color: #299077;
        right: 1rem;
        top: 1rem;
        border-radius: 0.13rem;
        font-size: 0.8rem;
        font-weight: 500;
    }
    &__infos {
        margin-left: 1.3rem;
        margin-top: 0.8rem;
        & h3 {
            font-size: 1.2rem;
            font-weight: 800;
        }
        & p {
            font-weight: 400;
            margin-top: 0.4rem;
        }
    }
}
.like {
    cursor: pointer;
    & i {
        position: absolute;
        font-size: 2rem;
        right: 2rem;
        bottom: 2rem;
    }
}