.fa-arrow-left {
    position: absolute;
    left: 1.3rem;
    top: 1rem;
    color: #000;
    font-size: 2rem;
}
img.header__restaurant__image {
    display: block;
    position: relative;
    width: 100%;
    height: 17.5rem;
    object-fit: cover;
}
.restaurant__infos__title {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    margin-top: -3rem;
    background: #F7F7F7;
    border-radius: 2rem 2rem 0 0;
    padding-top: 1.5rem;
    h2 {
        @include logo-font;
        font-weight: 400;
    }
    
}
.restaurant__infos__menu {
    .menu {
        display: flex;
        flex-direction: column;
        position: relative;
        background-color: $main-background-color;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        h3 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: 1.2rem;
            margin-bottom: 1.5rem;
            position: relative;
        }
        h3::after {
            content: "";
            width: 3rem;
            height: .25rem;
            background-color: #99e2d0;
            position: absolute;
            left: 0;
            bottom: -0.5rem;
        }
        ul li {
            display: flex;
            width: 335px;
            @include site-box-shadow;
            border-radius: 1rem;
            background-color: #FFF;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 1.3rem;
            animation: menu-slide 2000ms backwards;
            @for $i from 1 through 4 {
                &:nth-child(#{$i}) {
                    animation-delay: #{$i * 200}ms;
                }
            }
            &:hover {
                .menu__choice {
                    margin-right: 0;
                    i {
                        -webkit-animation: rotate-360 0.5s both;
                        animation: rotate-360 0.5s both;
                    }
                    
                }
            }
        }
        &__details {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            h4 {
                font-weight: 600;
                margin: 0;
                padding-top: 0.6rem;
                padding-bottom: 0.3rem;
                padding-left: 0.5rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                
            }
            p {
                margin: 0;
                font-size: 0.9rem;
                font-weight: 400;
                padding-bottom: 0.6rem;
                padding-left: 0.5rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        span {
            font-weight: 800;
            margin-left: auto;
            display: flex;
            align-items: flex-end;
            margin-right: 1rem;
            padding-bottom: 0.9rem;
        }
    }
    
}
.menu__choice {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.75rem;
    height: auto;
    margin-right: -3.75rem;
    padding: 0rem;
    border-radius: 0 0.9rem 0.9rem 0;
    color: $color-tertiary;
    background-color: $color-tertiary;
    transition: margin-right 0.5s;
    & i {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 1.5rem;
        border-radius: 50%;
        background-color: $main-background-color;
        aspect-ratio: 1/1;
        
    }
}

.order {
    padding: 2.1rem;
    background-color: $main-background-color;
    &__button {
        @include main-button;
    }
}

  @keyframes menu-slide {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
  }
  @-webkit-keyframes rotate-360 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  @keyframes rotate-360 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
  }
  