@mixin logo-font {
    font-family: 'Shrikhand', cursive;
}
@mixin site-box-shadow {
    box-shadow: 0 0.2rem 0.6rem #ccc;
}
@mixin main-button {
    display: table;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    margin-top: 20px;
    padding: 15px 25px;
    border-radius: 30px;
    color: white;
    font-weight: 400;
    z-index: 1;
    text-align: center;
    cursor: pointer;
    background: linear-gradient(358deg, $color-primary, $color-secondary 95%);
}
@mixin main-button-hover {
    background: linear-gradient(170deg, rgba(255, 121, 218, 0.8) 0%, rgba(214, 108, 219, 0.8) 39%, rgba(171, 94, 220, 0.8) 85%, rgba(155, 89, 220, 0.8) 100%);
    box-shadow: 2px 2px 1px #ccc;
}